/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/*======= GOOGLE FONTS =======*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap%27');
:root {
    --header-height: 3rem;
    /*======= NAV BARS =======*/
    /*======= VARIABLES CSS =======*/
    /*---------- colors ----------*/
    --primary-color: #5d5fef;
    --secondary-color: #7879f1;
    --tertiary-color: #a5a6f6;
    --text-color: #25282B;
    --text-color-alt: #52575c;
    --text-color-light: #fff;
    --body-bg: #fafafa;
    --button-color-primary: #5d5fef;
    --button-color-secondary: #a5a6f6;
    --button-color-success: #064e3b;
    --button-color-info: #1e2a8a;
    --button-color-warning: #78350f;
    --button-color-error: #7f1d1d;
    --button-color-resched: #6c09860;
    /*----------font and typography ----------*/
    --body-font: 'Montserrat', sans-serif;
    --biggest-font-size: 6rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*---------- font weight ----------*/
    --font-light: 300;
    --font-medium: 500;
    --font-semi-bold: 600;
    /*---------- margins ----------*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*---------- base ----------*/
    --box-shadow-normal: 0px 13px 19px rgba(0, 0, 0, 0.07);
    --border-edge: 1px solid var(--primary-color);
    --border-radius-soft: 6px;
    /*======= RESPONSIVE =======*/
    @media screen and (min-width: 768px) {
         :root {
            --biggest-font-size: 6rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
    }
}

body {
  font-family: var(--body-font);
  color: var(--text-color);
  background: var(--bg-color);
}

a {
  color: var(--primary-color);
  text-decoration: none !important;
  font-family: var(--body-font) !important;
}

p {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--body-font);
}

/* *,
 ::after,
 ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    background-color: #fafafa;
    overflow: hidden;
} */

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  background: var(--bg-color);
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 40px;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
}

#header .header-scrolled {
  top: 0;
}

#header .logo {
  font-size: var(--h1-font-size);
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: var(--body-font);
}

#header .logo a {
  color: var(--text-color);
}

#header .logo img {
  max-height: 40px;
}

.divider{
  border-top: 1px solid #f0f0f0;
  margin: 10pt;
}

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img {
  max-width: 120px;
}

.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2c384e;
  margin: 10px 0 0 0;
}

.profile .profile-card h3 {
  font-size: 18px;
}

.profile .profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.profile .profile-card .social-links a:hover {
  color: #012970;
}

.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}

.profile .profile-overview .card-title {
  color: #012970;
}

.profile .profile-overview .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img {
  max-width: 120px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: var(--primary-color);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #fff;
  }
  
  #footer .copyright {
    font-family: var(--body-font);
  }
  
  #footer .footer-links a {
    color: #fff;
    padding-left: 15px;
  }
  
  #footer .footer-links a:first-child {
    padding-left: 0;
  }
  
  #footer .footer-links a:hover {
    color: var(--tertiary-color);
  }