.biller-info,
.billing-info {
    margin-bottom: 15px;
}

.add-more-item {
    margin-bottom: 10px;
}

.add-more-item a {
    color: #5d5fef;
    font-weight: 500;
}

.signature-wrap {
    float: right;
    margin-bottom: 20px;
    text-align: center;
    width: 220px;
}

.signature {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 4px;
    color: #272b41;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    height: 85px;
    margin-bottom: 15px;
    width: 100%;
}

.signature:hover {
    background-color: #fcfcfc;
}

.sign-name {
    width: 100%;
    float: right;
}

.pat-widget-profile .pro-widget-content {
    padding: 0 0 20px;
}

.pat-widget-profile .booking-date li {
    font-size: .875rem;
}

.pat-widget-profile .booking-date li span {
    font-size: .875rem;
}

.submit-btn{
    margin-right: 1%; 
}