/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#headerlogin {
    background: var(--bg-color);
    transition: all 0.5s;
    z-index: 997;
    padding: 38px 0;
    /* top: 40px; */
    box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
}

#headerlogin .header-scrolled {
    top: 0;
}

#headerlogin .logo {
    font-size: var(--h1-font-size);
    position:fixed;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: var(--body-font);
}

#headerlogin .logo a {
    color: var(--text-color);
    text-decoration: none;
    
}

#headerlogin .logo img {
    max-height: 40px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.headerlogin {
    display: block;
}


/* Remove scrollbar */
/* body {
    overflow-x:hidden;
    overflow-y:hidden;
 } */

/* Login Form Box */
.center {
    position: relative;
    /* top: 5%; */
    margin-top: 370px;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: var(--border-radius-soft);
    box-shadow: var(--box-shadow-normal);
    font: var(--body-font);
    background: white;
    padding: 3%;
}

.center h1 {
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: var(--h1-font-size);
    
}

.center form {
    padding: 0 90px;
    box-sizing: border-box;
}


#sub {
    text-align: center;
    color: var(--text-color-alt);
}

#titleform {
    text-align: center;
    color: var(--text-color-alt);
    padding-top:8%;
}

form .txt_field {
    position: relative;
    margin: 20px;
}

.txt_field input {
    width: 100%;
    padding: 5px 10px;
    height: 30px;
    font-size: var(--normal-font-size);
    border: unset;
    border-radius: 7px;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    background: rgb(255, 255, 255);
    outline-color: var(--text-color-alt);
}

.txt_field label {
    top: 50%;
    left: 5px;
    color: var(--text-color-alt);
    transform: translateY(-50%);
    font-size: var(--normal-font-size);
    pointer-events: none;
    
}

.pass {
    margin: -23px 0 5px 195px;
    margin-bottom: 25px;
    color: #5D5FEF;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 45px;
    border: var(--border-edge);
    background: var(--secondary-color);
    border-radius: var(--border-radius-soft);
    color: var(--text-color-light);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

input[type="submit"]:hover {
    background-color: var(--primary-color);
    transition: .5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: var(--normal-font-size);
    color: var(--text-color-alt);
}

.signup_link a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: var(--font-semi-bold);
}

.signup_link a:hover {
    text-decoration: underline;
    transition: .5s;
}

.field-checkbox input {
    width: 15px;
    height: 15px;
    margin-top:10px;
    margin-right: 10px; 
    box-shadow: unset;
    min-height: unset;
}
.field-checkbox label {
    display: flex;
    margin-top:10px;
    align-items: center;
    margin: 0;
}

.img_hero_login {
    position: relative;
    width: 733px;
    height: 757px;
    left: 60px;
    top: -10px;
    
  }

.img_hero_login img {
    width: 650px;
    height: 670px;
    margin: -20px 0 0 130px;
  }

 #herologin {
    padding: 0;
    margin: 0;
    /* min-height: calc (100vh - 984.6px - 986.4px); */
    min-height: 100%;
 } 


 section {
    padding: 0!important;
    margin: 0 !important;
 }

